/* Linked Style sheet for Week-1-Assessment */

/* remove the margins in the body setting font-size */

html, body {
 margin: 0;
 font-size: 16px;
 font-family: helvetica, Arial, sans-serif;
}

/*Set Color Gradient with fallbacks for other browsers*/
section {	
	background: red; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#001133, #fff); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#001133, #fff); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#001133, #fff); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#001133, #fff); /* Standard syntax */
	height: 300px;
}

.container {
	margin: auto;
	width:70%;	
}

.phones {
	float: left;
	margin-top: 13%;
}

.frame {
	float: right;
	background: url('images/frame.png');
	margin-top: 23%;
	width: 600px;
	background-repeat: no-repeat;
}

.logo {
	float: right;
	margin-top: 15%;
	margin-bottom: -38%;
	
}

#insta {
	margin-left: -22%;
}

button {
	background: #0366d6;
	color: #fff;
	margin-left: 100px;
	border: none;
}

.content p {
	padding-top: 3%;
	padding-left: 5%;
	font-size: 0.8375rem;
	word-spacing: 4px;
	line-height: 1.1rem;
}

h1 {
	padding-top: 3%;
	padding-left: 5%;
	color: #0366d6;
}

.download {
	padding-left: 5%;
	padding-top: 4%;
}

#play {
	padding-left: 5%;
}

footer {
	clear: both;
	padding-top: 3%;
	font-size: 0.6rem;
}

ul {
	list-style-type: none;
	text-align: center;
	margin-right: 5%;
}

li {
	display: inline;
	text-transform: uppercase;	 
}

a {
	text-decoration: none;
	color: #0366d6;
	padding: 1%;
}

#copy {
	color: grey;
}

